<h1 class="indexH1">Most Recent Pictures</h1>
<nav><%= link_to "Add a New Picture", "/pictures/new" %></nav>
<% @pictures.each do |picture| %>
<div class="picCell">
<p><%= picture[:title] %>, <%= picture[:artist] %></p>
<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>
</div>
<p>Photos created within the past day: <%= Picture.created_before(1.day.ago).count %></p>
<% @pic_recent.each do |picture| %>
<div class="picCell">
<p><%= picture[:title] %>, <%= picture[:artist] %></p>
<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>
</div>
